/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "BGZIP_ASSEMBLIES" {
        ext.prefix = { "${input.getBaseName()}" }
    }

    withName: '.*:FASTA_PURGE_RETAINED_HAPLOTYPE:CONCATENATE_HAPLOTYPES' {
        ext.prefix = "asm.htigs.all.fa"
    }

    withName: '.*:FASTA_PURGE_RETAINED_HAPLOTYPE:FASTX_MAP_LONG_READS:FASTXALIGN_MINIMAP2ALIGN' {
        ext.args = {
            [
                "-x map-hifi",
                "-I" + Math.ceil(reference.size()/1e9) + "G"
            ].join(' ').trim()
        }
        ext.prefix = "asm.reads"
    }

    withName: '.*:FASTA_PURGE_RETAINED_HAPLOTYPE:FASTX_MAP_LONG_READS:MINIMAP2_INDEX' {
        ext.args = {  "-I" + Math.ceil(fasta.size()/1e9)+"G" }
    }

    withName: '.*:FASTA_PURGE_RETAINED_HAPLOTYPE:MINIMAP2_ALIGN_ASSEMBLY' {
        ext.args   = { "-xasm5 -DP -I" + Math.ceil(reads.size()/1e9) + "G" }
        ext.prefix = "asm.self_aln"
    }

    withName: '.*:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_PBCSTAT' {
        ext.prefix = "asm"
    }

    withName: '.*:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_CALCUTS' {
        ext.args = {
            def kcov = -1
            if(params.genomescope_model) {
                def model_file = file(params.genomescope_model, checkIfExists:true)
                def kcov_line = model_file.readLines().find { line -> line =~ /^kmercov/ }
                kcov = kcov_line ? kcov_line.split(/\s+/).getAt(1).toFloat() : -1
            } else if(params.coverage) {
                kcov = params.coverage
            }

            def l = ""
            def m = ""
            def u = ""
            if(params.cutoffs) {
                def cut_list = cutoffs.tokenize(",")

                if(cut_list.size() != 3) {
                    error(
                        "Error: Expected 3 cutoffs but got ${cut_list.size()}." +
                        "Please provide cutoffs as 'lower,middle,upper'"
                    )
                }

                l = "-l ${cut_list[0]}"
                m = "-m ${cut_list[1]}"
                u = "-u ${cut_list[2]}"
            } else {
                def cov = kcov + (kcov / 2)
                m = "-m ${cov}"
                u = "-u ${cov * 4}"
            }

            return "${l} ${m} ${u}".trim()
        }
        ext.prefix = "asm"
    }

    withName: '.*:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_PURGEDUPS' {
        ext.prefix = "asm"
        ext.args   = "-2"
    }

    withName: '.*:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_SPLITFA' {
        ext.prefix = "asm.self_aln"
    }

    withName: '.*:FASTA_PURGE_RETAINED_HAPLOTYPE:PURGEDUPS_GETSEQS' {
        ext.prefix = "asm"
        ext.args   = { params.purge_middle ? "" : "-e" }
    }

    withName: '.*:GENOME_STATISTICS:ASMSTATS' {
        ext.prefix = { "${assembly.getName()}" }
    }

    withName: '.*:GENOME_STATISTICS:GFASTATS' {
        ext.prefix = { "${assembly.getName()}" }
    }

    withName: '.*:GENOME_STATISTICS:BUSCO_BUSCO' {
        ext.args = {
            [
                params.busco_lineage_directory ? "--offline" : "",
                "--skip_bbtools" // Temporary until https://gitlab.com/ezlab/busco/-/issues/821 fixed
            ].join(" ").trim()
        }
    }

}
